$green: #558b2f;
$blue: #33658a;
$orange: #f6ae2c;


$custom-black: #4e4e4e;
$grey-1: #6a6a6a;
$grey-2: #808080;

$primary: $green;
$secondary: $orange;
$success: #2ecc71;
$danger: #e74c3c;
$warning: #f1c40f;
$info: #82ccdd;

$link-color: #3498db;

$box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.18);


$button-colors: ("primary": $primary,
"secondary": $secondary,
"success": $success,
"info": $info,
"warning": $warning,
"danger": $danger)