.card {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: white;
  min-width: 0;
  word-wrap: break-word;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  padding: 16px;

  &+& {
    margin-top: 16px;
  }

  .card-header {
    display: flex;
    width: 100%;
    padding-bottom: 16px;
    font-size: 1.6rem;
  }

  .card-body {
    .card-title {
      font-size: 1.4rem;
      margin-bottom: 8px;
      color: black;
    }

    .card-text {
      line-height: 1.5;
    }

    .card-text+.card-text {
      margin-top: 8px;
    }
  }

  .card-footer {
    margin-top: 16px;
  }
}